body {
    background-image: url(https://images.unsplash.com/photo-1523372102243-c9426fc31b88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    color: white;
    background-position: center;
    background-size: cover;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
   
   
}


header {
    height: 100px;  
    border: 1px solid black;
    color: white;
    background-color: black;
    
    
}



header h3 {
    color: white;
    width: 20%;
    margin: 30px;
    margin-top: 40px;
    margin-left: 10px;
    text-decoration: none;
    float: left;
}

header nav {
    float: right;
   
    margin-top: 30px;

}

header nav ul li {
    display: inline;
    margin: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

main {
    border: 1px solid black;
    width: 70%;
    margin: 0 auto;
    margin-top: 150px;
    color: black;
    background-color: rgba(7, 7, 7, 0.692);
    
}

main h1, p {
    text-align: center;
    color: white;
}

#name {
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
}

main ul {
    text-align: center;
}

main ul li {
    display: inline;
    
    font-size: 30px
    
    
    
}

main ul li a {
    color: white;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    
    
    
}

footer {
        position: absolute;
        padding: 10px 10px 10px 10px;
        bottom: 0;
        width: 100%;
        font-size: 15px;
        height: 40px;
        color: black;
        
        text-align: center;
        
    }

    main ul li {
        font-size: 15px;
        
    }